<a href="https://colab.research.google.com/github/CAPTAINY2/Assignment-9---Recursion-/blob/main/Assignment_Questions_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### QUESTION-1

In [19]:
def power(n):
    if n <= 0:
        return False
    return (n & (n - 1)) == 0
    

print(f"Input: n=1")
print(f"Output:{power(1)}")

print(f"Input: n=16")
print(f"Output:{power(16)}") 

print(f"Input: n=3")
print(f"Output:{power(3)}")

Input: n=1
Output:True
Input: n=16
Output:True
Input: n=3
Output:False

### QUESTION-2

In [22]:
def sum(n):
    return (n * (n + 1)) // 2

print(f"Input: n=3")
print(f"Output:{sum(3)}")

print(f"Input: n=5")
print(f"Output:{sum(5)}")

Input: n=3
Output:6
Input: n=5
Output:15

### QUESTION-3

In [27]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

print(f"Factorial of (5): {factorial(5)}") 
print(f"Factorial of (4): {factorial(4)}")

Factorial of (5): 120
Factorial of (4): 24

### QUESTION-4

In [30]:
def exponent(N, P):
  return N**P

print(f"Exponent of (5)^2: {exponent(5, 2)}")

print(f"Exponent of (2)^5: {exponent(2, 5)}")

Exponent of (5)^2: 25
Exponent of (2)^5: 32

### QUESTION-5

In [45]:
arr1 = [1, 4, 3, -5, -4, 8, 6]
arr2 = [1, 4, 45, 6, 10, -8]

def Recursion(arr, n):
    if n == 1:
        return arr[0]
    else:
        return max(arr[n-1], Recursion(arr, n-1))

def Recursion_max(arr):
    return Recursion(arr, len(arr))

print(f"Max element in arr1: {Recursion_max(arr1)}")  

print(f"Max element in arr2: {Recursion_max(arr2)}")

Max element in arr1: 8
Max element in arr2: 45

### QUESTION-6

In [48]:
def find(a, d, N):
    return a + (N - 1) * d

print(f"The 5th term of the series is : {find(2, 1, 5)}")  
print(f"The 10th term of the series is: {find(5, 2, 10)}")

The 5th term of the series is : 6
The 10th term of the series is: 23

### QUESTION-7

In [76]:
def permutations(str, left, right):
    if left == right:
        print(''.join(str))
    else:
        for i in range(left, right + 1):
            str[left], str[i] = str[i], str[left]  
            permutations(str, left + 1, right)
            str[left], str[i]= str[i], str[left]  

def All_Permutations(S):
    n = len(S)
    str = list(S)
    permutations(str, 0, n - 1)

print(f"Permutation of ABC: {All_Permutations('ABC')}")
print(f"Permutation of ABC: {All_Permutations('XY')}")

ABC
ACB
BAC
BCA
CBA
CAB
Permutation of ABC: None
XY
YX
Permutation of ABC: None

### QUESTION-8

In [75]:
arr1 = [1, 2, 3, 4, 5]
arr2 = [1, 6, 3]

def product(arr):
    product = 1
    for num in arr:
        product *= num
    return product

print(f"Product of arr1: {product(arr1)}")  

print(f"Product of arr2: {product(arr2)}")

Product of arr1: 120
Product of arr2: 18